/* 추가적인 스타일 시트 임포트 */
/* @import './reset.css';
@import './style.css'; */
/** Tailwind CSS의 기본 스타일을 포함 (브라우저 기본 스타일을 초기화하는 스타일과 기본적인 타이포그래피, 폼 요소 스타일 등) **/
@tailwind base;
/** Tailwind의 컴포넌트 스타일을 포함 (버튼, 카드, 알림 등) **/
@tailwind components;
/** Tailwind의 유틸리티 클래스를 포함 (p-4, text-center 등) **/
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}